<%- include('inc/head.ejs');%>
</head>
<body>
	<%- include('inc/topo.ejs');%>
	<section>
		<div class="container">
			<div class="card mt-4">
				<div class="card-header">
					<h2>Upload Realizado</h2>
				</div>
				<div class="card-body">
					<p>Suas imagens serão otimizadas sem perca de qualidade!</p>
					<p>PS: Após realizar a otimização, entre no diretório uploads e recorte as suas imagens</p>

					<a href="/otimiza" class="btn btn-primary">Fazer otimização Agora</a>
				</div>
			</div>
		</div>
	</section>
	
	<%- include('inc/js.ejs');%>
</body>
</html>